* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    background-image: url(/images/bg.jpeg);
    color: #fff;
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
    transition: all 3s ease-out;
    animation: opacity 3s ease;
}
@keyframes opacity {
    0%{
        transform:translateY(-40px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        transition: all 2s ease-out;
        opacity: 1;
    }
}
.container {
    background-repeat: repeat-y;
    
    display: flex;
    height: 100vh;
    height: calc(100vh + 300px);
    width: 50vw;
    flex-direction: column;
    inset: 2;
    margin: auto;
    z-index: 1;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/images/bg.jpeg);
    box-sizing: border-box;
    box-shadow: 0 0 3px black,
                0 0 15px 2px black;
    margin-top: 20px;
    width: 95vw;
    height: 10vh;
    text-align: center;
    top: 0;
    border-radius: 50px;
    z-index: 100;
}
h1{
    margin: 0;
    font-size: 4em;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0 0 5px white, 0 0 10px white;
}

.khana {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3 {
    width: 77vw;
    height: 45px;
    background-image: url(images/bg.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50px;
}


section h3 {
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 0 0 5px white, 0 0 10px white;
    font-weight: 750;
    /* background: linear-gradient(to left , rgb(112, 48, 8) , rgb(214, 132, 80)); */
    width: 60vw;
    padding: 10px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    /* margin: 0 auto 20px; */
    align-items: center;
    justify-content: center;
}


.khana ul {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0px 70px 0px 70px;
    padding: 0px;
    text-align: left;
    flex: 2;
}

.khana ul li {
    text-transform: capitalize;
    background-color: #333;
    font-size: 1.9rem;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    height: 55px;
    text-align: center;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(215, 198, 198);
}

.images {
    background: url(images/kolpaat.png);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    animation: flow 5s alternate infinite;
    margin: 0 auto;

}

.image-container {
    position: relative;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 80%;
    margin: 0 20px;
    /* animation: flow 5s alternate infinite; */
}

.card {
    /* background-color: #333; */
    background: url(images/background-2.jpeg);
    background-size: cover;
    backdrop-filter: blur(100px); 
    border-radius: 50px; /* Rounded corners */
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2), 0 0 15px black;
    margin: 20px 0;
    padding: 20px;
    transition: all 0.3s ease;
    color: white; 
    animation: flowrev 2s alternate infinite;
}
@keyframes flowrev{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}






@keyframes flow {
    0% , 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

.momo {
    background-image: url('images/momo.jpeg');
    order: -1;
}

.chow-pulao {
    background-image: url('images/chowmin.jpeg');
}

.maggi-omlet {
    background-image: url('images/maggie.jpeg');
    order: -1;
}

.speacial-item {
    background-image: url('images/chiken.jpeg');

}

.contact {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.contact p {
    background-color: #be662b;
    font-weight: 700;
    color: #000;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    margin: 0 auto 20px;
}


.rotating-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px white);
    animation: rotate 5s linear infinite;
}
.rotating-momo{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px white);
    animation: rotate 5s linear infinite;
}
.rotating-momo-rev{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px white);
    animation: rotate 5s linear infinite;


}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container{
    padding-bottom: 1250px;
}
footer {
    background-color: transparent;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a {
    color: #f0f0f0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.bakery{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: radial-gradient(circle ,rgb(196, 121, 121), rgb(239, 53, 146));
    background-image: url(/images/button.png);
    background-size: contain;
    background-position: center;
    color: white;
    font-weight: 1000;
    /* text-shadow: 0 0 3px #000, 0 0 5px white; */
    font-size: 1.5rem;
    height: 40px;
    width: 200px;
    margin:  40px 0  10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 4px 5px black;
}
button:hover{
    box-shadow: 0 2px 4px black;
    color: darkblue;
    opacity: 0.8;
}
button:active{
    background-color: yellow;
    box-shadow: 0 0 5px black ;
    color: rgb(5, 5, 67);
}

@media (max-width: 768px) {
    
    .container{
        left: 0;
        width: 100%;
    }
    header {
        height: 8vh;
        font-size: 1rem;
    }

    h1 {
        font-size: 2em;
    }

    .para {
        font-size: 1rem;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .section ul {
        text-align: center;
        width: 80vw;
        margin: 0 auto;
    }

    .image-container {
        width: 140px;
        height: 140px;
        background-size: cover;
        background-position: center;
        border-radius: 80%;
        margin: 0 20px;
    }
    .khana ul li{
        font-size: 1.2rem;
        height: 30px;
    }
    section h3{
        display: inline-block;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .container{
        left: 0;
        width: 100%;
    }
    header {
        height: 8vh;
        font-size: 0.7rem;
    }

    h1 {
        font-size: 2em;
    }

    .para {
        font-size: 1rem;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .section ul {
        text-align: center;
        width: 85vw;
        margin: 0 auto;
    }

    .image-container {
        width: 150px;
        height: 150px;
  
    }
    .khana ul li{
        font-size: 1.2rem;
        height: 30px;
    }
    section h3{
        display: inline-block;
        height: 30px;
    }
}
